
@{
    ViewBag.Title = "RegistrationSuccessful";
}

<h2 class="text-success display-3">RegistrationSuccessful</h2>
<h5 class="text-success"><strong>Note: </strong> Please Verify your account before Login</h5>

