
@{
    ViewBag.Title = "NotFound";
    Layout = "~/Views/Shared/CustomLayout.cshtml";
}

<h1 class="text-danger display-4">NotFound</h1>
<h4 class="text-danger">The Page you are looking for is not found! Please check the URL.</h4>

